<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title 'Symfony skeleton' %}</title>
        {% block meta '' %}
        {% block stylesheets '' %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block content '' %}
        {% endblock %}
        {% block javascripts '' %}
    </body>
</html>
